.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #F5F3ED; 
}

.signup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
}

.coin-title {
  font-family: 'Montserrat Alternates', sans-serif; 
  font-size: 2rem;  /* Ajuste para responsividade */
  font-weight: 600;
  text-align: center;
  color: #2b5d89;
  margin-bottom: 1rem;
}

.signup-box {
  width: 477px;  /* Definido conforme o layout */
  height: auto;  /* Ajustado para permitir expansão */
  padding: 20px;  /* Ajustado para manter espaçamento interno */
  background-color: #2b5d89;
  border-radius: 20px 20px 20px 20px;  /* Definido conforme o layout */
  box-sizing: border-box;
  opacity: 1;  /* Ajustado para garantir que a caixa seja visível */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input[type="text"],
input[type="email"],
input[type="password"],
button {
  width: 95%;
  padding: 15px;
  margin: 5px 0;
  border: none;
  border-radius: 5px; 
}

button {
  width: 45%;  /* Diminuir a largura */
  padding: 8px;  /* Reduzir o padding */
  margin: 5px 0;
  margin-left: 110px; /* Mover o botão um pouco para a direita */
  border: none;
  border-radius: 5px;
  background-color: #f4f4f4; 
  color: rgb(16, 15, 15);
  cursor: pointer;
}

button:hover {
  background-color: #e8e7e7; 
}

.login-link {
  margin-top: 10px; 
  text-align: center;
  width: 100%;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .coin-title {
    font-size: 1.5rem;  /* Ajuste para telas menores */
  }

  .signup-box {
    width: 90%;
    max-width: 477px;
    height: auto;
    padding: 20px;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  button {
    padding: 8px;
  }
}

@media (max-width: 480px) {
  .coin-title {
    font-size: 1.2rem;  /* Ajuste para telas menores */
  }

  .signup-box {
    width: 90%;
    max-width: 477px;
    height: auto;
    padding: 15px;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  button {
    padding: 6px;
  }
}
