/* Pagamento.css */

.ContainerEmpresa {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.segundoContainer {
  display: flex;
  flex: 1;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
  background-color: #f0f0f5;
}

.toggle-container {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* Toggle Switch Style */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 2.5px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #006dc0;
}

input:checked + .slider:before {
  transform: translateX(25px);
}

/* Estilo da Tabela */
.styled-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #006dc0;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.styled-table th, .styled-table td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid #dddddd;
}



.styled-table tbody tr:hover {
  background-color: #f1f1f1;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #006dc0;
}

.styled-table td {
  color: #333;
}

.toggle-add-container{
  display: flex;
  align-content: center;
  justify-content: space-around;
}

.add-button{
  width: 10rem;
  margin-bottom: 16px;
 
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  background: white;
  padding: 40px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
}

.form-pagamento {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 5px;
  display: block;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
}

.submit-button {
  padding: 10px 20px;
  background-color: #2196F3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.submit-button:hover {
  background-color: #0b7dda;
}

.cancel-button {
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-button:hover {
  background-color: #da190b;
}

.form-group1 input{
  border: black solid 1px;
}

#descricao{
  margin-left: 1px;
  width: 20rem;
}

.modal h2{
  font-weight: 800;
  color: black;
  font-size: 1.3rem;
  margin-bottom: 1.2rem;
}

.deleteButton, .editButton{
  background: white!important;
  font-size: 25px;
  color: black;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1);

}

.editButton{
  margin-right: 10px;
}


