/* *{
    margin: 0;
    padding: 0;
    border: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40rem;
    margin-right: 4%;
    margin-left: 5%;
}

.header input {
    border-radius: 1.5rem;
    border: none;
    background-color: #e4e4e4;
    width: 40rem;
    padding: 0.7rem;
}



.header .user-info {
    font-size: 18px;
    color: #333;
} */


.header{
    display: flex;
    box-sizing: border-box;
    margin-left: 20vw;
    margin-top: 1rem;
    margin-left: 3rem;

}

.header input {
    border-radius: 1.5rem;
    border: none;
    background-color: #e4e4e4;
    width: 30vw;
    height: 2vh;
    padding: 0.7rem;
    margin-top: 1rem;
  }
  
  .header button {
    width: 13vw;
    height: 5vh;
    background-color: #C08900;
    border: none;
    border-radius: 1.5rem;
    padding: 0.5rem ;
    margin-top: 1rem;
    margin-left: 5rem;
  }