* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Adicionado para um melhor controle de espaçamento */
}

.ContainerPlanos {
  display: flex;
  flex-direction: column;
  width: 70rem;
  margin-left: 3rem; /* Centralizando o conteúdo */
}

.ContainerGeral {
  display: flex;
}

.plan-section {
  margin: 2rem 0rem;
}

.text-button {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.text-button > button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #006ac0;
  border: none;
  width: 2rem; /* Aumentado para 2rem para maior acessibilidade */
  height: 2rem; /* Ajustado para um botão mais clicável */
  color: white;
  cursor: pointer;
  font-weight: 700;
  border-radius: 50%;
  font-size: 1.2rem; /* Tamanho de fonte ajustado */
}

thead {
  border-color: white;
  border-style: solid;
  border-width: 1px;
}

.table-content {
  width: 100%;
  border-radius: 25px;
}

.table-content table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
}

.table-content table th,
.table-content table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid white;
}

.table-content table td {
  background-color: #f1efef;
  border-color: white;
  border-style: solid;
  border-width: 1px;
}

.table-content table th {
  background-color: #006ac0;
  color: white;
}

.status.agendada {
  color: #483a8f;
  font-weight: 700;
}

.status.paga {
  color: #2a784e;
  font-weight: 700;
}

.status.vencida {
  color: #903f3f;
  font-weight: 700;
}

.table-content tbody td:hover {
  background-color: #006ac0;
  color: white; /* Para aumentar a legibilidade ao passar o mouse */
}

/* Modal styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px; /* Espaçamento entre os campos */
}

.modal-content label {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.modal-content input, 
.modal-content select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.modal-actions {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.modal-actions button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.modal-actions button:first-child {
  background-color: #006ac0;
  color: white;
  border-radius: 4px;
}

.modal-actions button:last-child {
  background-color: #ccc;
  border-radius: 4px;
}
