* {
  margin: 0;
  padding: 0;
}
.ContainerPlanos{
  display: flex;
  flex-direction: column;
  width: 70rem;
}
.ContainerGeral{
  display: flex;
}
.plan-section {
  margin: 2rem 0rem 2rem 3rem ;
}

.text-button {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.text-button > button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C08900;
  border: none;
  width:1rem;
  height: 30px;
  color: white;
  cursor: pointer;
  font-weight: 700;
  border-radius: 100%;
}

thead{
  border-color: white;
  border-style: solid;
  border-width: 1px;
}

.table-content {
  width: 100%;
  border-radius: 25rem;
}

.table-content table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
}

.table-content table th, .table-content table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid white;
}

.table-content table td {
  background-color: #f1efef;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  
}

.table-content table th { /*primeira coluna do quadro */
  background-color: #C08900;
}

.status.agendada {
  color: #483a8f;
  font-weight: 700;
}

.status.paga {
  color: #2a784e;
  font-weight: 700;
}

.status.vencida {
  color: #903f3f;
  font-weight: 700;
}

.table-content tbody td:hover{
  background-color:#C08900 ;
}