* {
  margin: 0;
  padding: 0;
}

.sidebar-content {
  display: flex;
}

.sidebar {
  background-color: #C08900; /* cor do menu da esquerda */
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-top-right-radius: 4rem;
  border-bottom-right-radius: 4rem;
  width: 240px;
 height: 92.4vh;
  padding: 40px 10px 30px 10px;
}

.sidebar h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav ul li {
  margin-bottom: 10px;
}

.sidebar nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.sidebar nav ul li.active a {
  font-weight: bold;
}

.sidebar .logout {
  margin-top: 20px;
  display: block;
  color: white;
  text-decoration: none;
}

