* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat Alternates", sans-serif;
}

.sidebar-content {
  display: flex;
}

.sidebar {
  background-color: #006dc0; /* cor do menu da esquerda */
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom-right-radius: 2.5rem;
  width: 240px;
  height: 100vh;
  padding: 40px 10px 30px 10px;
  
}

.sidebar h1 {
  font-size: 50px;
  margin-bottom: 40px;
  font-weight: 900;
  margin-left: 3.4rem;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav ul li {
  margin-bottom: 20px;
}

.sidebar nav ul li a:hover {
  transition: 0.4s;
  background-color: white;
  border-radius: 10px;
  padding:10px 40px 10px 40px;
  color:#606060;
  font-weight: 700;
  
}

.sidebar nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 700;
}



.sidebar .logout {
  margin-top: 20px;
  display: block;
  color: white;
  text-decoration: none;
}

