* {
  margin: 0px;
  padding: 0px;
}

.forgot-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #00416A;
  background: -webkit-linear-gradient(to right, #E4E5E6, #2384c1);
  background: linear-gradient(to right, #90b5da, #43a3de);
  position: relative;
}

.area {
  background: #4e54c8;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.forgot-password-box {
  width: 477px;
  height: auto;
  padding: 20px;
  background-color: #77a6d0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  background: #5799d2;
  box-shadow: 20px 20px 500px #3d6f9a, -20px -20px 500px #5396d0;
  box-sizing: border-box;
  opacity: 1;
  text-align: center;
  z-index: 1;
}

h1 {
  color: #054175;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 6rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

.forgot-password-form {
  display: flex;
  flex-direction: column;
}

input[type="password"] {
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 15px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  margin-bottom: 10px;
}

input[type="password"]:focus {
  border: 1px solid #5085b1;
  outline: none;
}

button {
  background: linear-gradient(145deg, #b8bcd1, #789DFC);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1);
  color: white;
  border-radius: 8px;
  padding: 8px;
  margin: 5px 0;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #e8e7e7;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}

.success-message {
  color: green;
  margin-bottom: 10px;
}

/* Responsividade */
@media (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }

  .forgot-password-box {
    width: 90%;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.2rem;
  }

  .forgot-password-box {
    width: 90%;
  }

  input[type="password"],
  button {
    padding: 6px;
  }
}
